/*.whole {
	background: url(https://images.unsplash.com/photo-1523476602796-646439cea0bf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}*/

.navbar-brand {
	font-weight: bold;
}

button, .textClass a {
	box-shadow: 3px 3px 3px #888;
}

.content {
	margin-top: 100px;
}

hr {
	box-shadow: 2px 2px 2px #888;
}

.row {
	margin-top: 20px;
	border: 10px solid pink;
}

h4 {
	padding: 5px;
}

.card-deck {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: pink;
	box-shadow: 3px 3px 3px #888;
}


